html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
  }
  
  ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  
  section {
    padding:100px 0;
  }

  .clearfix::after{
    content: '';
    display: table;
    clear: both;
  }
/*======================== header =========================*/
  header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #222;
    z-index: 100;
  }

  #logo {
    float: left;
  }

  .nav {
    float: right;
  }

  .nav li {
      display: inline-block;
  }

  .nav li a {
      color: #fff;
      display: block;
      padding: 10px 12px;
      text-transform: capitalize;
  }
/*======================== backgroud =========================*/

.home_bg {
  background-image: url(../images/profile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  font-size: 54px;
  text-transform: capitalize;
}

.social_icons a {
  display: inline-block;
  color: #fff;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 8px;
}

/*======================== about me =========================*/
.about_me h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 75px;
  letter-spacing: 2px;
  line-height: 50px;
}

.col-left, .col-right {
  float: left;
  width: 50%;
  padding: 10px;
}

.personal-info h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.personal-info p {
  color: grey;
  line-height: 24px;
  text-align: justify;
}

.skill {
  padding:15px 0;
}

.skill li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}

.button-group .download_cv, .button-group .hire_me {
  display: inline-block;
  border: 2px;
  border-radius: 2; 
}

.button-group .download_cv {
  margin-right: 18px;
}

.button-group a{
  text-transform: capitalize;
  border: 2px black solid;
  color: black;
  border-radius: 10px;
  padding: 10px 38px;
  display: block;
}

.button-group a:hover{
  background-color: black;
  color: white;
  transition: .4s linear;
}

/*======================== my service =========================*/

.my_service {
  background-color: lightgray;
}

.my_service h2{
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.service_content{
  float: left;
  width: 33.333%;
  padding:0 15px;
}

.service_content i {
  font-size: 30px;
  line-height: 46px;
}

.service_content h3 {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1px;
  margin: 13px 0 8px 0;
 
}

.service_content p {
  color: #767676;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;;
}

/*======================== my service =========================*/
.resume h2 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.col-horizontal {
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

.col-horizontal:last-child {
  border-bottom: 0;
}

.resume-subtitle {
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 12px;
}

.col-horizontal .col-item {
  float: left;
  width: 50%;
  padding: 10px 20px 10px 15px;
}

.experience-year {
  display: inline-block;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
}

.resume-detail h4 {
  text-transform: capitalize;
  font-size: 15px;
  margin: 10px 0 3px 0;
}

.resume-detail h6 {
  text-transform: capitalize;
  font-size: 10px;
  margin-bottom: 10px; 
}

.resume-detail p {
  line-height: 22px;
}